<div class='pull-left contact'>
  <%= image_tag('store_front.jpg') %>
</div>
<div class='pull-right contact'>
  <h3 style='color: rgba(6, 72, 133, 0.85);'>For ordering or information call</h3>
  <h3 style='color: rgba(6, 72, 133, 0.85);'> (303) 555-1212</h3>
  <h4 style='color: rgba(6, 72, 133, 0.85);'><em> This is a mobile business offering delivery and tool service to most of Colorado!</em></h4>
  <h3 style='color: white;'>We are located at:</h3>
  <h3 style='color: white;'>555 Rio Grande Blvd, Denver CO</h3>
  <h4 style='color: white;'><em>Tool Showroom hours: 8am to 4pm - Monday through Friday</em></h4>
</div>
