<div class="row">
  <center>
    <div class="col-md-10">
      <h1><p class="shadow_big">On Sale This Month</p1></h1>
  </center>
    </div>
</div>

<div class="row">
<%= render "layouts/index_product" %>
</div>

<center>
  <h3 class="shadow">Come visit our showroom to view our selection of sinks,<br>
     stone tools and supplies at:</h3>
  <h3 style="color: red">50 Rio Grande Blvd, Denver CO</h3>
  <h4>Or call Jack at 720-363-0163</h4>
</center>