<%= form_tag "/show" do %>

<div class="ats_header_b">
  <%= @header %>
</div>

<!--<div class="link-banner pull-left">
  <th><a style="color: white" href="/">Sales Flyer</a></th><br>
  <th><a style="color: white" href="/">Articles</a></th><br>
</div>--!>

<%= render partial: "/layouts/show_product" %>

<% end %>