
.ats_header {
  font-size: 35pt;
  margin: 0px auto -2px auto;
  text-align: left;
  color: white;
  background-color: black;
  height: 70px;
  padding: 2px 0px 5px 10px;
  text-shadow: 5px 5px 10px red;
}

.body_b {
  width: 1000px;
  margin: 5px auto;
  background-color: rgba(95, 162, 156, 0.36);
  border: 10px black solid;
  padding: 5px;
  font-family: sans-serif;
  font-size: 16pt;
}
html {
  background-color: #eee;
}
body {
  width: 100000px;
  margin: 5px auto;
  background-color: gray;
  border: 1px black solid;
  padding: 5px;
  font-family: sans-serif;
  font-size: 16pt;
}
.admin {
  width: 1100px;
  margin: 5px auto;
  background-color: rgba(159, 218, 241, 0.49);
  border: 20px black solid;
  padding: 5px;
  font-family: sans-serif;
  font-size: 12pt;
  color: black;
}

.product_display {
  width: col-md-6;
  margin: 5px auto;
  background-color: gray;
  border: 10px black solid;
  padding: 5px;
  font-family: sans-serif;
  font-size: 4pt;
}
.shadow {
  font-size: 20pt;
  text-align: center;
  color: rgb(8, 8, 102);
  text-shadow: 1px 1px 1px rgb(0, 133, 255);
}

.sale_price {
  font-size: 20pt;
  text-align: center;
  color: rgba(3, 3, 100, 0.8);
  text-shadow: 2px 2px 5px white;
}
cart_table {
  border-collapse: collapse;
  border-spacing: 0;
}

.image{
border: 10px solid #FFFFFF;
box-shadow: 5px 5px 5px  #550808;
float: left;
height: 230px;
margin: 10px;
overflow: hidden;
width: 275px;
cursor:pointer;
}
.image_big{
border: 10px solid #FFFFFF;
box-shadow: 5px 5px 5px  #550808;
float: left;
height: 380px;
margin: 10px;
overflow: hidden;
width: 400px;
cursor:pointer;
}

.thumbnail_img:hover {
    background-color: transparent;
    z-index: 100;
}

.full_image {
  width: 2000px;
}

.full_image img {
  width: 1000;
  margin: auto;
}

a:hover
{ 
width: 400;
height: 350;
}

.zoom {
  zoom: 200%;
}

/* zoom in image */
.zoomin_img { // definition the values for the image that is in the area with the class name zoomin! 
height: 125px; // i set a default value for the height
width: 125px; // i set a default value for the width also
// below the cross-browser transition
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
} // and below i set new dimensions when the user roll the mouse over the image
.zoomin_img:hover {
width: 600px;
height: 600px;
} 

.product_name{
text-align: center;
font-size: 30pt;
color: #550808;
text-shadow: 2px 1px 1px white;
}
.shadow_big {
  font-size: 30pt;
  text-align: center;
  color: rgb(8, 8, 102);
  text-shadow: 1px 1px 1px rgb(0, 133, 255);
}
.ats_header_b {
  font-size: 25pt;
  margin: -10px auto -20px auto;
  text-align: left;
  color: rgba(3, 3, 100, 0.8);
  height: 45px;
  padding: 0px 0px 0px 200px;
  text-shadow: 2px 2px 5px white;
}
.ats_footer {
  font-size: 15pt;
  text-align: center;
  color: white;
  background-color: gray;
  height: 30px;
  text-shadow: 2px 2px 5px black;
}
.ats_header_c {
  font-size: 25pt;
  margin: -20px auto 20px auto;
  text-align: left;
  color: rgba(3, 3, 100, 0.8);
  height: 20px;
  padding: 0px 0px 0px 300px;
  text-shadow: 2px 2px 0px white;
}
.container_mine {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}
.container_left_panel {
  padding-right: 950px;
  padding-left: 0px;
  text-align: center;
  font-size: 15pt;
  color: white;
  margin-right: auto;
  margin-left: auto;
}
.pad_left {
  padding: 10px 10px 10px 50px;
}
.pad_col {
  padding: 0px 50px 10px 50px;
}
.pad {
  padding: 0px 10px 10px 30px;
}

html {
  background-color: #eee;
}

.back_gray {
  background-color: rgba(214, 211, 211, 0.12);
}
link_banner {
  font-size: 10pt;
  margin: 0px auto -2px auto;
  text-align: left;
  color: white;
  background-color: rgb(189, 14, 14);
  height: 1000px;
  padding: 2px 0px 5px 10px;
  text-shadow: 5px 5px 10px red;
}