.ats_header {
  font-size: 35pt;
  margin: 0px auto -2px auto;
  text-align: left;
  color: white;
  background-color: black;
  height: 70px;
  padding: 2px 0px 5px 10px;
  text-shadow: 5px 5px 10px red;
}

.body_b {
  width: 1000px;
  margin: 5px auto;
  background-color: rgba(231, 196, 10, 0.14);
  border: 10px black solid;
  padding: 5px;
  font-family: sans-serif;
  font-size: 16pt;
}

.admin {
  width: 1100px;
  margin: 5px auto;
  background-color: rgba(159, 218, 241, 0.49);
  border: 20px black solid;
  padding: 5px;
  font-family: sans-serif;
  font-size: 12pt;
  color: black;
}

.product_display {
  width: col-md-6;
  margin: 5px auto;
  background-color: gray;
  border: 10px black solid;
  padding: 5px;
  font-family: sans-serif;
  font-size: 4pt;
}
.shadow {
  font-size: 20pt;
  text-align: center;
  color: rgb(8, 8, 102);
  text-shadow: 1px 1px 1px rgb(0, 133, 255);
}

.sale_price {
  font-size: 20pt;
  text-align: center;
  color: rgba(3, 3, 100, 0.8);
  text-shadow: 2px 2px 5px white;
}
cart_table {
  border-collapse: collapse;
  border-spacing: 0;
}

.image{
border: 10px solid #FFFFFF;
box-shadow: 5px 5px 5px #666;
float: left;
height: 250px;
margin: 10px;
overflow: hidden;
width: 300px;
cursor:pointer;
}

.big_image{
border: 10px solid #FFFFFF;
box-shadow: 5px 5px 5px #666;
float: left;
height: 500px;
margin: 10px;
overflow: hidden;
width: 700px;
cursor:pointer;
}

.thumbnail_img:hover {
    background-color: transparent;
    z-index: 100;
}

a:hover
{ 
width: 70;
height: 52;
}

.zoom {
  zoom: 100%;
}
.shadow_big {
  font-size: 30pt;
  text-align: center;
  color: rgb(8, 8, 102);
  text-shadow: 1px 1px 1px rgb(0, 133, 255);
}
.ats_header_b {
  font-size: 25pt;
  margin: -20px auto 20px auto;
  text-align: left;
  color: #927017;
  height: 45px;
  padding: 0px 0px 0px 300px;
  text-shadow: 2px 2px 5px white;
}
.ats_footer {
  font-size: 15pt;
  text-align: center;
  color: white;
  background-color: gray;
  height: 30px;
  text-shadow: 2px 2px 5px black;
}
.ats_header_c {
  font-size: 25pt;
  margin: -20px auto 20px auto;
  text-align: left;
  color: rgba(3, 3, 100, 0.8);
  height: 20px;
  padding: 0px 0px 0px 300px;
  text-shadow: 2px 2px 0px white;
}
.container_mine {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}
.container_left_panel {
  padding-right: 950px;
  padding-left: 0px;
  text-align: center;
  font-size: 15pt;
  color: white;
  margin-right: auto;
  margin-left: auto;
}
.pad_left {
  padding: 10px 10px 10px 50px;
}
.pad_col {
  padding: 0px 50px 10px 50px;
}
.pad {
  padding: 0px 10px 10px 30px;
}

html {
  background-color: #eee;
}

.back_gray {
  background-color: rgba(214, 211, 211, 0.12);
}
link_banner {
  font-size: 10pt;
  margin: 0px auto -2px auto;
  text-align: left;
  color: white;
  background-color: rgb(189, 14, 14);
  height: 1000px;
  padding: 2px 0px 5px 10px;
  text-shadow: 5px 5px 10px red;
}