<h3>Select the shipping method you prefer:</h3>


*****In Process ******<br></br>

<table class="table">
  
    <tr><td>Type 1</td><td>$5.00</td><td><%= button_tag :select, name: "ship_type", value: 1%></td></tr>
    Type 2  $10.00
    Type 3  $20.00
  </tr>
</table>
<%= link_to 'Continue Checkout', final_cart_path %><br><br>