

To Do
?
- put a single product on sale  
- change images to lower resolution and fix back click
- make subcategories on the product table
_create a profile page where user can change password
- have links for sub-categories (RED) on left
-   - create new column in product table
- To think about
  - sales flyer link
  - 

 - are hyphens all right in file names?

work some more on error messages so that they display the fields that didn't get filled out

index.html.erb 
  -continue work on hardcoding index page
  -make a table to link to for the Sales Flyer?
  
set up product on sale

IMAGES
  -get some pictures for diamond products
  -add picture to shop to the contact and/or about us page
  
MISC  
  
  -edit existing product from the edit page
  
  -add "LLC to header but in a smaller font than Co Name
  
about_us.html.erb
  -request script from Jack
  -hardcode about us info
  
contact.html.erb
  -get design input from Jack
 
- inprocess for editing existing product 
# 
# post "/edit/:id" do
#   if params["commit"] = "Update Product"
#   id = Product.find_by(product_code: params["product_code"])
#   @old_product  = Product.find_by(product_code: id)
#   @new_product.category       = params["category"]
#   @new_product.product_code   = params["product_code"]
#   @new_product.name           = params["name"]
#   @new_product.quantity       = params["quantity"]
#   @new_product.description    = params["description"]
#   @new_product.price          = params["price"]
#   @new_product.image          = params["product_code"]
#   halt erb(:edit)
#   end
# end

- alter method to zoom....

<!--Image zooming code to try out(layout won't show until notes deleted)........

<!--<a class="zoom" href='/images/sample02.jpg/'>
      <!--<img src="/images/sample02.jpg/" width="120" height="120"></img></a>

<!--<a:hover href='/images/sample02.jpg/'>
        <!--<img src="/images/sample02.jpg/" width="120" height="120"></img></a>
<!--html>
    <!--<head>
        <!--<h2>
        <!--<style>
        .black_overlay{
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index:1001;
            -moz-opacity: 0.8;
            opacity:.80;
            filter: alpha(opacity=80);
        }
        .white_content {
            display: none;
            position: absolute;
            top: 25%;
            left: 25%;
            width: 50%;
            height: 50%;
            padding: 16px;
            border: 16px solid orange;
            background-color: white;
            z-index:1002;
            overflow: auto;
        }
    </style>
    </head>
    <body>
        <p>This is the main content. To display a lightbox click <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">here</a></p>
        <div id="light" class="white_content">This is the lightbox content. <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Close</a></div>
        <div id="fade" class="black_overlay"></div>
    </body>
</html>  