<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/ats.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
</head>
  <body style="background-color: rgba(159, 218, 241, 0.49)">

  <% yield %>

  </body>

</html>
