<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/ats.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
</head>
  <body class="admin">

      <a class="pull-left pad" href="/admin/logout"><h2 style="color: white">Log out</h2></a>
   
  <% yield %>

  </body>

</html>
