<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/ats.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
</head>
  <body style="background-color: silver">

  <% yield %>

  </body>

</html>
