<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/ats.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
  </head>
    <body class="admin">
      <a class="pull-left pad" href="/admin/logout"><h2 style="color: #1E5A53">Log out</h2></a>
      <a class="pull-left pad" href="/admin/links"><h2 style="color: #927017">Admin Links</h2></a>
 
      <% yield %>

    </body>
</html>
