<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="admin">
 <link rel="stylesheet" type="text/css" href="/stylesheets/ats.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
<%= yield %>

</body>
</html>
